<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem id="menu_radiology_root" name="Radiology Management"/>
        <menuitem id="menu_hospital" name="Hôpitaux" parent="menu_radiology_root" action="action_hospital"/>
        <menuitem id="menu_radiologist" name="Radiologues" parent="menu_radiology_root" action="action_radiologist"/>
        <menuitem id="menu_mission" name="Missions" parent="menu_radiology_root" action="action_mission"/>
        <menuitem id="menu_application" name="Candidatures" parent="menu_radiology_root" action="action_application"/>
        <menuitem id="menu_notification" name="Notifications" parent="menu_radiology_root" action="action_radiology_notification"/>
        <menuitem id="menu_suspicious_message" name="Messages suspects" parent="menu_radiology_root" action="action_radiology_suspicious_message" groups="base.group_system"/>
        <menuitem id="menu_demo_slot" name="Demo Slots" parent="menu_radiology_root" action="action_radiology_demo_slot"/>
        <menuitem id="menu_demo_booking" name="Demo Reservations" parent="menu_radiology_root" action="action_radiology_demo_booking"/>
        <menuitem id="menu_radiology_config"
              name="Configuration"
              parent="menu_radiology_root"
              sequence="20"/>
        <menuitem id="menu_radiology_settings"
              name="Parametres"
              parent="menu_radiology_config"
              action="action_radiology_settings"
              sequence="1"/>
        <record id="menu_radiology_brand" model="ir.ui.menu">
    <field name="name">Brands</field>
    <field name="parent_id" ref="menu_radiology_config"/>
    <field name="action" ref="action_radiology_brand"/>
</record>
<record id="menu_radiology_specialty" model="ir.ui.menu">
    <field name="name">Specialties</field>
    <field name="parent_id" ref="menu_radiology_config"/>
    <field name="action" ref="action_radiology_specialty"/>
</record>

    </data>
</odoo>
